@import '../../global/global.css';

:host {
  font-family: sans-serif;
  border: 2px solid var(--purple);
  border-radius: 4px;
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

form input {
  border-radius: 4px;
  font: inherit;
  color: var(--purple);
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form input:focus,
form button:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--purple);
  border-radius: 4px;
  background: var(--purple);
  color: var(--white);
  cursor: pointer;
}

form button:hover,
form button:active {
  background: var(--light-purple);
  border-color: var(--light-purple);
}

form button:disabled {
  background: var(--light-grey);
  border-color: var(--light-grey);
  color: var(--white);
  cursor: not-allowed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: .75rem;
  margin: 0.25rem 0;
  padding: 0.25rem;
  border-bottom: 1px solid var(--light-grey);
}

li:hover {
  color: var(--light-purple);
  cursor: pointer;
  background-color: var(--lighter-grey);
}
